.my-navbar {
    background: transparent;
    border: none;
    margin-top: 20px;
}

.nav li a {
    font-size: .9em;
    border-bottom: 2px solid #fff;
}

.nav li a:hover {
    border-bottom: 2px solid #61045F;
}

.masthead {
    /*padding-top: 50px;*/
    padding-bottom: 100px;
    min-height: 400px;
    max-height: 400px;
    background: url("../images/cover.png"), url("../images/cover.png"), url("../images/1477317860itphotos_51155883_l.jpeg");
    background-size: cover;
    background-position: center center;
}

.masthead h2 {
    margin-top: 120px;
    color: #fff;
}

.masthead p {
    color: #fff;
    font-size: .9em;
}

.btn {
    border-radius: 6px !important;
}

.btn-action {
    background: #fff;
    border-radius: 6px !important;
    color: #61045F;
    text-transform: uppercase;
    font-size: 0.8em !important;
    font-weight: bold;
    border: 2px solid #fff;
}

.btn-action:hover {
    transition-delay: 1;
    background: #61045F;
    color: #fff;
    border: 2px solid #fff;
}

.fashion-project {
    margin-bottom: 30px;
}

.fashion-project>a {
    display: block;
    color: #000;
    position: relative;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fashion-project>a img {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fashion-project>a:after {
    opacity: 0;
    visibility: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -o-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    z-index: 8;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fashion-project>a h3,
.fashion-project>a span {
    z-index: 12;
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 50px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 30px;
    font-weight: 300;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fashion-project>a span {
    font-size: 14px;
    bottom: 20px;
}

.fashion-project>a:hover {
    -webkit-box-shadow: 0px 6px 6px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 6px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 6px -10px rgba(0, 0, 0, 0.75);
}

.fashion-project>a:hover:after {
    opacity: 1;
    visibility: visible;
}

.fh5co-counters .fashion-counter-label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 2em;
    font-weight: bold;
    display: block;
}


/*Form Wizard*/

.bs-wizards {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizards>.bs-wizards-step {
    padding: 0;
    position: relative;
}

.bs-wizards>.bs-wizards-step .bs-wizards-stepnum {
    font-size: 16px;
    margin-bottom: 10px;
}

.bs-wizards>.bs-wizards-step .bs-wizards-info {
    color: #999;
    font-size: 14px;
    padding: 20px;
}

.bs-wizards>.bs-wizards-step>.bs-wizards-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #6f16aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizards>.bs-wizards-step>.bs-wizards-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizards>.bs-wizards-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 22px 0;
}

.bs-wizards>.bs-wizards-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #6f16aa;
}

.bs-wizards>.bs-wizards-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizards>.bs-wizards-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizards>.bs-wizards-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizards>.bs-wizards-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizards>.bs-wizards-step.disabled>.bs-wizards-dot {
    background-color: #f5f5f5;
}

.bs-wizards>.bs-wizards-step.disabled>.bs-wizards-dot:after {
    opacity: 0;
}

.bs-wizards>.bs-wizards-step:first-child>.progress {
    left: 50%;
    width: 50%;
}

.bs-wizards>.bs-wizards-step:last-child>.progress {
    width: 50%;
}

.bs-wizards>.bs-wizards-step.disabled a.bs-wizards-dot {
    pointer-events: none;
}


/* My Styles */

.cards {
    /*padding: 20px;*/
    margin-top: 30px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    background: #fff;
    /*background: url("../images/main1.jpeg");*/
    text-align: left;
    border-radius: 6px;
    height: 120px;
}

.cards .content {
    padding: 10px;
    padding-left: 20px;
    color: #314755 !important;
}

.card1 {
    background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
    background-position: center center;
    height: 100%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.cards .content h3 {
    font-size: 0.98em;
    margin-top: 20px;
    margin-bottom: 0px;
}

.cards .content small {
    font-size: 0.7em;
}

.cards p {
    padding: 10px 20px;
    padding-left: 0px;
    color: #fff;
    margin: 0px;
}