@() @layouts.app("Welcome to Play") {

<header class="masthead" role="banner" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2> Connect with fashion designers around you</h2>
                <p>Bags | Shoes | Women Wears | Men Wears without limitation</p>
                <button class="btn btn-md btn-action">Get Started</button>
            </div>
            <div class="col-md-4 text-center" style="backgrounds: #fff; padding:50px auto; height: 400px;">
                <div class="cards clearfix" style="margin-top:90px; !important">
                    <div class="col-xs-4 card1">
                        &nbsp;
                    </div>
                    <div class="col-xs-8 content">
                        <small>JOIN TODAY!</small>
                        <h3>Are you a Fashion Designer?</h3>
                        <small>Clothes | Shoes | Bags</small>
                    </div>
                </div>
                <div class="cards clearfix">
                    <div class="col-xs-4 card1">
                        &nbsp;
                    </div>
                    <div class="col-xs-8 content">
                        <small>CHECK OUT OUR CATALOGUE!</small>
                        <h3>Do you want a design?</h3>
                        <small>Clothes | Shoes | Bags</small>
                    </div>
                </div>
                <div class="cards clearfix">
                    <div class="col-xs-4 card1">
                        &nbsp;
                    </div>
                    <div class="col-xs-8 content">
                        <small>JOIN TODAY!</small>
                        <h3>Are you a Fashion Designer?</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="cards">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}