@(users: List[User])

@layouts.app("Welcome to Play") {
    <dl class="products">
        @for(user <- users) {
            <dt>@user.username</dt>
            <dd>@user.password</dd>
        } 
    </dl>
}